body {
  font-family: 'Sarabun', sans-serif;
  overflow: hidden;
  display: flex;
  flex-direction: column;

}
input[disabled] {
  color: gray;
  cursor: unset;
}

input[disabled]:hover {
  cursor: unset;
}

main {
  overflow-y: scroll;
  flex: 1;
}

.error-msg {
  text-align: center;
  background-color: #00b5cc;
  color: #013243;
  padding: 0.5rem;
}

.overlay {
  position:absolute;
  top: 0;
  left: 0;
  height: 100%;
  overflow: hidden;
  width: 100%;
  background-color: rgb(0,0,0,0.5);
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  color: #00b5cc;
  font-size: 3rem;
  font-weight: bold;
  cursor: wait;
}

.error-btn {
  background-color: transparent;
}

.overlay-info {
  margin: auto 0;
  grid-column: 2;
}

.overlay-left {
  margin: auto 0;
  grid-column: 3;
}

/* ~~ Header ~~ */
header a {
  text-decoration: none;
  color: black;
}

.margin-box,
.nav-bar {
  margin: 0 20px;
}

header {
  background-color: #013243;
}

.nav-bar {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr auto auto;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  color: white;
}

.nav-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo {
  grid-row: 1;
  grid-column: 1;

}

.logo-wrapper {
  width: fit-content;
  text-align: center;
}

.logo-heading,
.logo-subheading {
  font-family: 'Permanent Marker', cursive;
}

.logo-heading {
  width: fit-content;
  margin: 0;
  font-size: 2em;
}

.logo-subheading {
  margin-top: 0.2rem;
  display: none;
}

.login,
.my-page {
  grid-row: 1;
  grid-column: 2;
  margin-right: 1rem;
}

.register,
.logout {
  grid-row: 1;
  grid-column: 3;
}

.search-form {
  display: flex;
  margin: 0;
}

.search {
  grid-row: 2;
  grid-column: 1 / 4;
  margin-top: 1rem;
}

.search-bar {
  width: 100%;
  max-width: 300px;
  flex: auto;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-style: solid;
  border-color: #00b5cc;
  border-width: 1px;
  margin-right: -1px;
  margin-left: auto;
  background-color: white;
  color: black;
  padding: 5px;
}

.search-button {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #00b5cc;
  color: white;
  margin-right: auto;
}

/* ~~ Lists of playlists ~~ */

.playlists {
  border: solid #013243 2px;
  border-radius: 10px;
  margin-bottom: 4rem;
}

.disabled {
  color: rgba(255, 255, 255, 0.4) !important;
}

.playlist-item {
  padding: 1rem;
  border-bottom: solid #013243 2px;
  display: grid;
  grid-template-columns: auto auto 1fr auto;
  grid-template-rows: auto auto auto;
}

.playlist-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgba(0, 181, 204, .7);
  padding: 3px 7px;
  border-radius: 5px;
}

.playlist-header {
  display: flex;
  margin-bottom: 0.5rem;
  align-content: center;
  grid-row: 1;
  grid-column: 1 / 5;
}

.playlist-title {
  font-size: 1.5em;
  margin: 0;
  margin-right: .5rem;
}

.playlist-author {
  margin: auto 0;
  margin-right: 1.5rem;
}

.playlist-likes {
  grid-row: 2;
  grid-column: 1;
}

.playlist-like {
  margin-right: auto;
  grid-row: 2;
  grid-column: 3;
}

.playlist-description {
  grid-row: 3;
  grid-column: 1 / 5;
}

.playlist-description p {
  margin: 0;
}

.playlists li:last-child {
  border-bottom: none;
}

.playlist-save {
  grid-row: 2;
  grid-column: 4;
}

.playlist-edit {
  display: flex;
  grid-row: 2;
  grid-column: 4;
}

.edit-btn, .delete-btn {
  display: inline;
  margin: 0 2px;
  width: min-content;
}

.playlist-btn {
  border-radius: 3px;
  background-color: #013243;
  color: white;
}

.like-btn.disabled {
  color: rgba(1, 50, 67, 0.5) !important;
}

.user-playlists .playlist-likes {
  margin-right: 5px
}

.playlist-privacy {
  margin-right: auto;
  grid-row: 2;
  grid-column: 2;
}

.like-btn {
  margin-right: auto;
}

.like-btn, .remove-btn {
  background-color: transparent;
  color: #013243;
}

.remove-btn {
  font-size: 2rem;
  margin: -0.5rem 0;

}

/* ~~ playlist ~~ */

.playlist-page .playlist-author {
  margin-bottom: 0;
}

.playlist-page .playlist-header {
  margin: 1rem 0;
  margin-top: 2rem;
  font-size: 1.25rem;
}

.playlist-page .playlist-description {
  margin: 1rem 0;
  margin-bottom: 2rem;
}

.playlist-tracks td {
  padding-left: 1rem;
}

.playlist-tracks tr td:last-child {
  padding-left: 1rem;
}

.playlist-tracks {
  border-collapse: collapse;
  box-shadow: 0 0 0 2px #013243;
  border-radius: 5px;
  width: 100%;
  table-layout: fixed;
  margin-bottom: 2rem;
}

.playlist-tracks tr td:first-child {
  width: fit-content;
}

.playlist-tracks tr:last-child {
  border-bottom: unset;
}

.playlist-tracks tr {
  border-bottom: 1px #013243 solid;
}

th {
  text-align: left;
  padding-left: 1.1rem;
  font-size: 1.2rem;
  border-bottom: 1px #013243 solid;
  background-color: #013243;
  color: white;
}

td {
  padding-bottom: .5rem;
  padding-top: .5rem;
  max-width: 50%;
  vertical-align: middle;
}

.spotify-input {
  width: 300px;
}

/* ~~ register and login ~~ */

.label {
  text-align: right;
}

.submit {
  text-align: center;
}
.submit-btn {
  border-radius: 3px;
  background-color: #013243;
  color: white;
  padding: 5px;
}

.g-recaptcha div {
  margin: 0 auto;
}

.register-page,
.login-page {
  text-align: center;
}

.register-page table,
.login-page table {
  margin: 0 auto;
}

/* ~~ create playlist page ~~ */

.delete-track {
  background-color: white;
  color: #013243;
}

.input-btn {
  border-radius: 4px;
  background-color: #013243;
  color: white;
  padding: 5px;
}

.confirm-btn {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  margin-right: -1px;
}

.back-btn {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-left: -1px;
}

.confirm-btn, .back-btn {
  padding: 3px 7px;
  z-index: -1;
  background-color: #013243;
  color: white;
}

#inputs input {
  z-index: 3;
  border-style: solid;
  border-width: 1px;
  border-color: #ccc;
}

.title-input {
  width: 50%;
  max-width: 250px;
}

.description-input {
  min-width: calc(100vw - 40px - 6px);
  max-width: calc(100vw - 40px - 6px);
  min-height: 2rem;
  max-height: 50rem;
  height: 5rem;
}

/* ~~ search ~~ */
.pagination {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  width: 400px;
  margin: 0 auto;
  margin-top: -2.5rem;
}
.first-page {
  grid-column: 1;
}
.first-ellip {
  grid-column: 2;
}
.page-2 {
  grid-column: 3;
}
.page-1 {
  grid-column: 4;
}
.page0 {
  grid-column: 5;
  background-color: black;
  border-radius: 10px;
  color: white;
  width: 1.25rem;
  height: 1.25rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}
.page1 {
  grid-column: 6;
}
.page2 {
  grid-column: 7;
}
.last-ellip {
  grid-column: 8;
}
.last-page {
  grid-column: 9;
}
.pages {
  grid-row: 1;
  text-align: center;
}

/* ~~~~~~~~~~~~~ */
/* Media queries */
/* ~~~~~~~~~~~~~ */

@media (min-width: 600px) {

  .margin-box, .nav-bar {
    margin: 0 50px;
  }

  .logo-subheading {
    display: unset;
  }

  .nav-bar {
    grid-template-rows: auto;
    grid-template-columns: auto 1fr auto auto;
  }

  .search {
    grid-row: 1;
    grid-column: 2;
    margin: 0;
  }

  .search-bar {
    max-width: 170px;
    margin-left: auto;
  }

  .search-button {
    margin: 0;
  }

  .search-form {
    margin: 0 1rem;
  }

  .my-page, .login {
    grid-column: 3;
  }

  .logout, .register {
    grid-column: 4;
  }

  .description-input {
    min-width: calc(100vw - 100px - 6px);
    max-width: calc(100vw - 100px - 6px);
    height: 5rem;
  }
}

@media (min-width: 800px) {
  .margin-box, .nav-bar {
    max-width: 700px;
    margin: 0 auto;
  }

  .logo-heading {
    font-size: 3rem;
    margin: 0 auto;
  }

  .logo-subheading br {
    display: none;
  }

  .description-input {
    min-width: calc(700px - 6px);
    max-width: calc(700px - 6px);
    height: 5rem;
  }

  .playlist-top {
    display: flex;
  }

  .playlist-page .playlist-controls {
    flex: 1;
    display: flex;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  .playlist-page .save-btn,
  .playlist-page .like-btn,
  .playlist-page .delete-btn,
  .playlist-page .edit-btn {
    margin-top: auto;
  }

  .playlist-page .playlist-header {
    flex: initial;
  }

  .playlist-header {
    grid-row: 1;
    grid-column: 1 / 4;
  }

  .playlist-description {
    grid-row: 3;
    grid-column: 1 / 4;
  }

  .playlist-save,
  .playlist-edit {
    grid-row: 1 / 4;
    grid-column: 4;
    margin: auto 0;
  }
}

@media (min-width: 1200px) {
  .margin-box, .nav-bar {
    max-width: 1000px
  }
}
